build/
.gradle/







.*.swp
.DS_Store
**/bin/
**/.apt_generated/
**/gen/
**/target/
**/eclipse.lib/
log

.classpath
.factorypath
.project
**/.settings/

pom.xml.releaseBackup
release.properties

target/
